@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playwrite NL", cursive;
}

body{
    background-color: aqua;
}

.quotes-box {
    background: white;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.5);
}

.quotes-box h2{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.quotes-box h2::after{
    content: '';
    width: 250px;
    height: 3px;
    border-radius: 3px;
    background: rgb(126, 0, 0);
    position: absolute;
    bottom: -10px;
    left: 30%;
    translate: translateX(-50%);
}

.quotes-box blockquote{
    font-size: 26px;
    min-height: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.quotes-box blockquote::before, .quotes-box blockquote::after{
    content: '"';
}

.quotes-box span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.quotes-box span::before{
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(126, 0, 0);
    position: absolute;
    top: 50%;
    left: -30%;
}

.quotes-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.quotes-box button{
    background: rgb(11, 62, 85);
    color: #fff;
    border-radius: 25px;
    border: 1px solid #000;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quotes-box button img{
    width: 20px;
    margin-right: 10px;
}

.quotes-box button:nth-child(2){
    background-color: #fff;
    color: #333;
}